@use "../global" as *;

body.tax-brand {
  .brand-img {
    display: none;
  }
  .entry-head {
    .en {
      font-size: 30px !important;
      line-height: 1;
      @include pc {
        font-size: 40px !important;
      }
    }
  }
}

.p-brandChildIndex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @include pc {
    gap: 12px;
  }
  @include sp {
    gap: 8px;
  }
  &__item {
    @include pc {
      width: calc((100% - 36px) / 4 );
    }
    @include sp {
      width: calc((100% - 8px) / 2 );
    }

    a {
      position: relative;
      display: block;
      background: $Beige;
      // background-image: linear-gradient(to top left, darken($Beige, 10%), lighten($Beige, 10%));
      // background-size: 200% 200%;
      // background-position: left bottom;
      border: solid 1px lighten($Gold, 0%);
      // box-shadow: 0px 1px 2px RGB(132, 118, 85, 0.4), inset 1px 1px 1px RGB(255, 255, 255, 1);
      box-shadow: inset 2px 2px 0px RGB(255, 255, 255, 1);
      padding: 1em;
      text-align: center;
      line-height: 1.3;
      font-weight: normal;
      border-radius: 4px;
      @include pc {
        font-size: 13px;
      }
      @include sp {
        font-size: 12px;
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 1em;
        width: 0.5em;
        height: 0.5em;
        margin: auto;
        border-right: solid 1px $Gold;
        border-bottom: solid 1px $Gold;
        transform: rotate(-45deg);
      }
    }
  }

}

// ブランド一覧ページの各ブランドロゴ部分のスタイル調整
.brand-list {
  @include sp {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
  }
  .list {
    @include sp {
      width: calc((100% - 10px) / 2 );
    }

    .img {
      background: #fff !important;
      border-radius: 8px;
      box-shadow: 0px 0px 4px rgba( darken($Gold, 15%), 0.5 );
      @include sp {
        width: 20vw !important;
      }
    }

    .info {
      line-height: 1.2;
      padding-top: 5px;
      @include sp {
        flex: 1;
      }
      .name {
        @include pc {
          font-size: 16px;
        }
      }

      .name-sub {
        margin-top: 4px;
        @include sp {
          font-size: 10px;
        }
        @include pc {
          font-size: 11px;
        }
      }
    }
  }
}