@use "../global" as *;

// 商品画像 正方形比率
.is-product .gallery .itemimg {
    @include aspectRatio(1, 1);
  }
  
.is-product .gallery .itemimg-sub .list {
  @include aspectRatio(1, 1);
}

// 商品ページ レイアウト変更
.is-product {
  @include pc {
    display: grid;
    grid-template-columns: 54% 1fr; /* 2列 */
    grid-template-rows: auto auto; /* 2行 */
    gap: 0px 50px; /* 適宜 */
    
    .gallery {
      width: 100%;
      grid-row: 1 / 3; /* 1行目から3行目まで → 縦に2行ぶち抜き */
      grid-column: 1;   /* 1列目 */
    }
    
    .add-to-cart {
      width: 100%;
      grid-row: 1;      /* 上段 */
      grid-column: 2;   /* 右側 */
    }
    
    .info {
      margin-top: 0;
      width: 100%;
      grid-row: 2;      /* 下段 */
      grid-column: 2;   /* 右側 */
    }
  }

  @include sp {
    .info {
      margin-top: 0px;
    }
  }
}

.is-product {
  .add-to-cart {
    // background-color: $Beige;
    // padding: 30px;
  }
  .tabs-pc {
    @include pc {
      width: 100%;
    }

    .tabs {
      display: none;
    }

    .entry-box {
      @include pc {
        margin-top: 0;
      }
    }
  }
}

.field_price {
  font-size: 24px !important;
  .field_cprice {
    font-size: 14px !important;
    // display: block;
  }
}


/* 商品ページ：売り切れ商品の価格を非表示 */
body.is-item-soldout {
  .field_price,
  .zaikostatus {
    display: none;
  }
}
article.is-item-soldout {
  .price {
    display: none;
  }
}


/* ===============================================
   p-itemContact（商品ページお問い合わせブロック）
   =============================================== */
.post.is-item-soldout:not(.category-backorder) {
  .p-itemContact {
    display: none;
  }
}
.post.category-backorder {
  .itemsoldout {
    display: none;
  }
  .p-itemBackorder {
    display: block;
    
  }
}

.p-itemContact {
  margin-top: 32px;
  padding: 24px;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  border: solid 1px $color_border;

  &__caption {
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 8px;
    color: #444;

    span {
      font-weight: 600;
      color: $Gold;
      font-size: 14px;
    }
  }

  &__action {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
    padding: 0;
  }

  &__action_btn {
    flex: 1;
    list-style: none;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 52px;
      padding: 16px 10px;
      border-radius: 4px;
      font-size: 14px;
      line-height: 1.2;
      color: #fff !important;
      text-decoration: none;
      transition: opacity 0.2s ease;
      @include pc {
        padding: 12px 10px;
        min-height: 64px;
        font-size: 13px;
      }

      &[data-contacttype="line"] {
        background: $Green;
      }

      &[data-contacttype="tel"] {
        background: $Gold;
      }

      @include hover {
        opacity: 0.85;
      }

      em {
        font-style: normal;
        font-weight: 600;
        @include sp {
          font-size: 15px;
        }
      }
    }

    &_telnum {
      display: inline-block;
      line-height: 1.1;
      margin-top: 3px;
      font-size: 15px;
    }
  }

  &__remarks {
    font-size: 12px;
    color: #666;
    margin-top: 8px;
    line-height: 1.4;
  }
}

.contact-item {
  display: none;
}


// 受注販売のラベル
.p-itemBackorder {
  display: none;
  margin: 32px 0 -16px 0;
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: $Gold;
  background: $Beige_pale;
  padding: 12px 0;
  letter-spacing: 0.05em;
  border-top: solid 1px $Gold;
  border-bottom: solid 1px $Gold;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 10px;
    height: 100%;
    z-index: 0;
    // border: solid 1px $Gold;
  }
  &::before {
    left: 0;
    border-right: none;
  }
  &::after {
    right: 0;
    border-left: none; 
  }
}

/* ===============================================
   p-itemMeta（商品情報ブロック）
   =============================================== */

.p-itemSpec {
  margin-bottom: 40px;

  &__title {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  &__list {
    margin: 0;
  }

  &__row {
    display: flex;
    gap: 10px;
    margin-bottom: 3px;
    background: lighten($Beige, 3%);
    // border-top: 1px solid $color_border;

    &:last-child {
      // border-bottom: 1px solid $color_border;
    }
  }

  &__term {
    width: 9em;
    flex-shrink: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.3;
    background: darken($Beige, 3%);
    padding: 1em 1em;
    display: flex;
    align-items: center;
    // justify-content: center;
  }
  
  &__desc {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 1em 0;
    font-size: 13px;
    line-height: 1.4;
  }
}

.p-itemSpec__accessoryList {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
  li {
    list-style: none;
    position: relative;
    padding-left: 1.1em;
    line-height: 1.5;
    font-size: 12px !important;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 0.3em;
    }
    
    &::before {
      content: "";
      display: block;  
      position: absolute;
      top: 0.5em;
      left: 0.3em;
      width: 3px;
      height: 3px;
      border-radius: 100%;
      background: $color_text;
    }
  }
}

.p-itemRemarks {
  margin: 16px 0 0 0 !important;
  padding: 0;
  color: #666;
  list-style: none;
  
  li {
    list-style: none;
    position: relative;
    font-size: 12px !important;
    line-height: 1.4;
  }
}


// ======================================
// p-itemTags（商品ページタグ）
// ======================================

.p-itemTags {
  margin-top: 32px;

  &__title {
    padding: 0;
    line-height: 1.3;
    margin-bottom: 0.5em !important;
  
    @include sp {
      font-size: 14px;
    }
    
    @include pc {
      font-size: 15px;
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 4px; 
    padding: 0;
    margin: 0  !important;
    list-style: none;
  }
  
  &__item {
    list-style: none;
    margin: 0;
    padding: 0;
    a {
      display: inline-block;
      padding: 0.6em 0.8em 0.5em;
      background: $Beige;
      border-radius: 4px;
      text-decoration: none;
      color: #333;
      line-height: 1.3;
      border: solid 1px $color_border;
      box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);

      @include sp {
        font-size: 11px;
      }

      @include pc {
        font-size: 12px;
      }

      &:hover {
        // background: #ddd;
        // color: #000;
      }
    }
  }
}

// ======================================
// p-itemBrand（商品ページブランド情報）
// ======================================
.p-itemBrand {
  margin: 32px 0 0 0;
  border-top: solid 1px $color_border;
  border-bottom: solid 1px $color_border;
  padding: 16px 0;

  &__title {
    font-size: 16px;
    font-weight: 700;
    display: none;
  }

  &__desc {
    margin-bottom: 10px;
  }
}

.p-itemBrand__link {
  a {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: $color_text;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }
}