@use "../global" as *;

.category-info {
  display: none;
}

.product-group .list .img {
  border-radius: 6px;
}
body.home .list .img {
  border-radius: 6px;
}
body.page-template-uscescart .is-not-member h3 {
  display: none;
}


.p-translateFixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: $Gold;
  padding: 10px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.p-instagramFeed {
  margin: 60px 0;

  &__title {
    font-size: 24px;
    font-weight: bold;
    @include pc {
      margin-bottom: 24px;
      text-align: center;
    }
    
    @include sp {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
}

.tiktok-svg::before {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z'/%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z'/%3E%3C/svg%3E");
}