@use "../global" as *;

.page {
  .entry-header {
    background-color: #f4f2eb;
    @include pc {
      padding: 3em 3em;
    }
    @include sp {
      padding: 2em 1.5em;
      margin-top: -20px;
      margin-right: -1em;
      margin-left: -1em;
    }
  }
}

// H2
h2.wp-block-heading {
  font-weight: 700;
  line-height: 1.5;
  margin: 48px 0 20px;

  @include pc {
    font-size: 24px;
  }

  @include sp {
    font-size: 18px;
  }
}

// H3
h3.wp-block-heading {
  font-weight: 700;
  line-height: 1.6;
  margin: 40px 0 12px;

  @include pc {
    font-size: 18px !important;
  }

  @include sp {
    font-size: 16px !important;
  }
}

// H4
h4.wp-block-heading {
  font-weight: 700;
  line-height: 1.6;
  margin: 32px 0 10px;

  @include pc {
    font-size: 18px !important;
  }

  @include sp {
    font-size: 15px !important;
  }
}

// H5
h5.wp-block-heading {
  font-weight: 700;
  line-height: 1.6;
  margin: 28px 0 20px;

  @include pc {
    font-size: 16px !important;
  }

  @include sp {
    font-size: 14px !important;
  }
}


/* --------------------------------------------
  wp-block-table
-------------------------------------------- */
.wp-block-table {
  width: 100%;
  margin: 32px 0;
  overflow-x: auto;

  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    min-width: 600px;
  }

  th,
  td {
    padding: 12px 16px !important;
    border: 1px solid #bbb !important;
    line-height: 1.6;
    text-align: left;

    @include pc {
      font-size: 14px !important;
    }

    @include sp {
      font-size: 13px !important;
    }
  }

  th {
    background: #333;
    color: #fff;
    font-weight: 600;
  }

  /* WP標準ストライプ */
  &.is-style-stripes tbody tr:nth-child(odd) {
    background-color: #f4f2eb;
  }

  @include sp {
    table {
      min-width: 100%; // 横スクロール不要にする
      display: block;
      border: 1px solid #bbb;
      border-bottom: none !important;
    }

    thead {
      display: none; // ヘッダー非表示
    }

    tbody,
    tr {
      display: block;
      width: 100%;
    }

    td,
    th {
      display: block;
      width: 100%;
      border: none !important;
      padding: 8px 10px !important;
      border-bottom: 1px solid #bbb !important;
    }
  }
}


.is-style-firstColumn {
  td {
    // border-color: #dbd8d9;

    &:first-child {
      background-color: #f4f2eb;
      @include pc {
        width: 200px;
      }
    }
  }
}