@use "../global" as *;

.u-font--bold {
  font-weight: 600;
}
.u-font--sup {
  vertical-align: super;
  font-size: 0.5em;
}
.u-font--italic {
  font-style: italic;
}
.u-font--small {
  font-size: 0.85em;
  display: inline-block;
  line-height: inherit;
}
.u-font--large {
  font-size: 1.2em;
}
.u-font--en {
  font-family: Arial, Helvetica, sans-serif;
}

.u-color--red {
  color: #E50000;
}
.u-color--white {
  color: #fff;
}

.u-font-uppercase {
  text-transform: uppercase;
}