@charset "utf-8";

/* =wcex_auto_delivery
-------------------------------------------------------------- */

/*-- #wc_item-single.php  --*/
#wc_regular {
	margin-top: 30px;
	padding: 15px;
	border: initial;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	border-radius: 6px;
	background-color: #f6f6f6;
}

#wc_regular .wcr_tlt {
	padding: 0 0 15px;
	background-color: initial;
	font-weight: bold;
	line-height: 1.2;
	text-indent: 0;
}

#wc_regular .autodelivery {
	width: 100%;
	margin-bottom: 10px;
}

#wc_regular .autodelivery tbody {
	display: flex;
	justify-content: space-between;
}

#wc_regular .autodelivery tr {
	display: flex;
	justify-content: center;
	width: calc(50% - 5px);
	background-color: #ddd;
	color: #333;
}

#wc_regular .autodelivery th,
#wc_regular .autodelivery td {
	padding: 5px;
}

#wc_regular .autodelivery th {
	font-weight: normal;
}

#wc_regular .autodelivery td {
	font-weight: 600;
}

.is-product .add-to-cart .skuform::before {
	display: none;
}

#wc_regular .item-sku th {
	display: flex;
	align-items: center;
	width: auto;
	height: 35px;
	padding: 5px 10px;
	border: 1px solid #dfdfdf;
	border-bottom: none;
	background-color: #f5f5f5;
	text-align: center;
}

#wc_regular .item-sku tbody th {
	display: block;
}

#wc_regular .item-sku td {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: auto;
	height: 35px;
	padding: 5px 10px;
	border: none;
	border-top: 1px solid #dfdfdf;
	background-color: #fff;
	line-height: 0;
	text-align: center;
}

#wc_regular table.item-sku input[type="radio"] {
	position: relative;
	z-index: 1;
}

#wc_regular .item-sku td input[type="radio"] + .radiomark {
	display: flex;
	position: absolute;
	z-index: 0;
	top: 50%;
	left: 50%;
	align-items: center;
	justify-content: center;
	margin-right: 0;
	margin-left: 0;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#wc_regular .item-sku td input[type="radio"] + .radiomark::before {
	display: block;
	line-height: 0;
}

.skuform .item-sku {
	margin-bottom: 15px;
}

#wc_regular .skuform .skubutton {
	display: block;
	width: 100%;
	height: 46px;
	margin-top: 15px;
	border-radius: 4px;
	background: #777;
	color: #fff;
	font-size: 14px;
	line-height: 46px;
}

#wc_regular .sku_select {
	background-color: #fff;
}

/* =wc_autodelivery_history_page.php
-------------------------------------------------------------- */

#wc_autodelivery_history .member_page_title {
	display: block;
	margin: 0;
	font-size: 21px;
	font-weight: bold;
}

#wc_autodelivery_history .en + .member_page_title {
	display: inline-block;
	margin-top: 8px;
	font-size: 11px;
	font-weight: normal;
}

#wc_autodelivery_history h2 {
	margin-bottom: 15px;
	font-size: 15px;
}

#wc_autodelivery_history .inside {
	margin-top: 12px;
	padding: 8px;
	overflow-x: auto;
	border: 1px solid #ddd;
	border-radius: 6px;
}

#wc_autodelivery_history .inside table {
	width: 100%;
	min-width: 400px;
}

#wc_autodelivery_history .inside table td {
	padding: 8px;
}

#wc_autodelivery_history .inside table th {
	padding: 0 8px;
	white-space: nowrap;
}

#wc_autodelivery_history .inside:first-child {
	margin-top: 0;
}

#wc_autodelivery_history .inside table:first-child th {
	text-align: left;
	white-space: nowrap;
}

#wc_autodelivery_history table {
	font-size: 13px;
	line-height: 1.4;
}

#wc_autodelivery_history .inside table:last-child tbody {
	border-top: 1px solid #ddd;
}

#wc_autodelivery_history .inside table:last-child tr {
	display: flex;
	flex-wrap: wrap;
}

#wc_autodelivery_history .inside table:last-child tr:first-child {
	margin-top: 20px;
}

#wc_autodelivery_history .inside table:last-child tr:first-child td:first-child {
	width: 20px;
	margin-right: 12px;
}

#wc_autodelivery_history .inside table:last-child tr:first-child td:nth-child(2) {
	display: flex;
	flex-wrap: wrap;
	width: calc(100% - 32px);
}

#wc_autodelivery_history .inside table:last-child tr:first-child td:nth-child(2) .item_img {
	width: 60px;
	margin-right: 12px;
}

#wc_autodelivery_history .inside table:last-child tr:first-child td:nth-child(2) .item_content {
	width: calc(100% - 72px);
}

#wc_autodelivery_history .inside table:last-child tr:first-child th,
#wc_autodelivery_history .inside table:last-child tr:first-child td:nth-child(4),
#wc_autodelivery_history .inside table:last-child tr:first-child td:nth-child(5),
#wc_autodelivery_history .inside table:last-child tr:not(:first-child) th,
#wc_autodelivery_history .inside table:last-child tr:not(:first-child) td {
	width: 25%;
	padding: 8px;
	text-align: left;
}


/**
 * 16.2 Tablet Small 740px
 */
@media screen and (min-width: 46.25em) {

	#wc_regular .item-sku th,
	#wc_regular .item-sku td {
		display: table-cell;
		border: none;
		border-top: 1px solid #dfdfdf;
		border-right: 1px solid #dfdfdf;
	}
}


/**
 * 16.3 Tablet Large 880px
 */
@media screen and (min-width: 55em) {


	/* =wc_autodelivery_history_page.php
	-------------------------------------------------------------- */

	#wc_autodelivery_history .member_page_title {
		font-size: 26px;
	}

	#wc_autodelivery_history .en + .member_page_title {
		font-size: 13px;
	}

	#wc_autodelivery_history h2 {
		margin-bottom: 15px;
		font-size: 18px;
	}

	#wc_autodelivery_history .inside {
		padding: 24px;
	}

	#wc_autodelivery_history table {
		font-size: 14px;
	}

	#wc_autodelivery_history .send input {
		margin: 0 4px;
	}

}


/**
 * 16.4 Desktop Small 1000px
 */
@media screen and (min-width: 62.5em) {

	#wc_regular {
		padding: 20px;
	}

}
