
/* -------------------------------------------------------------------------- */

/*	WCEX DL Seller Style
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */

/*	wc_item_single.php
/* -------------------------------------------------------------------------- */

.is-cart {
	position: relative;
}

.dlseller,
.dlseller tbody,
.dlseller tr,
.dlseller th,
.dlseller td {
	display: block;
	width: 100%;
}

.dlseller th,
.dlseller td {
	padding-left: 6px;
	text-align: left;
}

.dlseller th {
	font-size: 11px;
}

.dlseller td {
	margin-bottom: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid #ddd;
}

.dlseller tr:last-child td {
	margin-bottom: 0;
}

.dlseller.data {
	margin-bottom: 12px;
	padding-top: 15px;
	border-top: 1px solid #ddd;
}

.dlseller.charging {
	margin-bottom: 30px;
}

.skuform {
	position: relative;
}

.skuform .field_frequency {
	display: inline-block;
	padding: 2px 8px;
	border-radius: 4px;
	background-color: #666;
	color: #fff;
	font-size: 11px;
}

/* -------------------------------------------------------------------------- */

/*	wc_sku_select.php
/*	wc_sku_select_service.php
/* -------------------------------------------------------------------------- */

.dl-sku .dlseller {
	margin-bottom: 24px;
	padding-top: 15px;
	border-top: 1px solid #ddd;
}


/* -------------------------------------------------------------------------- */

/*	customer_page.php
/* -------------------------------------------------------------------------- */

.is-member #nav {
	margin-top: 8px;
}

/* -------------------------------------------------------------------------- */

/*	delivery_page.php
/* -------------------------------------------------------------------------- */

table#dlseller_terms {
	margin-bottom: 20px;
}

table#dlseller_terms tr::after {
	display: none;
}

table#dlseller_terms td {
	margin-bottom: 12px;
	padding: 0 0 12px;
}

table#dlseller_terms td .dlseller_terms {
	width: 100%;
	height: 136px;
	padding: 6px;
	overflow-y: scroll;
	border: 1px solid #aaa;
	border-radius: 4px;
	vertical-align: bottom;
}

/* DL Seller | Member Auto Billing Info
-------------------------------------------------------------- */

/* border-color */
.auto_billing_contents .subscription_block,
.auto_billing_contents dt,
.auto_billing_contents dd,
#memberinfo .auto_billing_contents table tbody,
#memberinfo .auto_billing_contents table tbody td,
#memberinfo .auto_billing_contents table tbody td:nth-child(even),
#memberinfo .auto_billing_contents p.nodata {
	border-color: #e8e8e8;
}

/* h1 */
#wc_member_auto_billing_info h1 {
	font-size: 21px;
}

/* h2 */
#wc_member_auto_billing_info #memberinfo h2 {
	padding: .8em 1em;
	background: none;
	color: inherit;
	font-size: inherit;
}

/* .member_submenu */
#wc_member_auto_billing_info .member_submenu {
	margin: 30px 0;
}

/* .subscription_block */
.auto_billing_contents .subscription_block {
	color: initial;
}

/* dl */
.auto_billing_contents dl {
	font-size: inherit;
}

.auto_billing_contents dt {
	padding: .5em 3em .5em 1em;
}

.auto_billing_contents dd {
	padding: .5em 1em;
}

/* select */
.auto_billing_contents .billing-year-select {
	top: .3em;
	right: .714em;
	font-size: inherit;
}

.auto_billing_contents .billing-year-select select {
	height: auto;
	padding: .714em 2.143em .714em .714em;
	line-height: auto;
}

/* table */
#memberinfo .auto_billing_contents table {
	width: 100%;
	font-size: inherit;
}

#memberinfo .auto_billing_contents table tbody td {
	padding: .5em 1em;
}

#memberinfo .auto_billing_contents table tbody td::before {
	margin-bottom: 0;
	font-size: .857em;
}

#memberinfo .auto_billing_contents table tbody td a {
	margin: 0 .357em 0 0;
	padding: 0;
	border-radius: 0;
	background: none;
	color: inherit;
	text-decoration: underline;
}

#memberinfo .auto_billing_contents table tbody td a:hover {
	background: none;
	color: inherit;
	text-decoration: none;
}

@media screen and (min-width: 55em) {

	table#dlseller_terms th {
		vertical-align: text-top;
	}

	table#dlseller_terms td {
		padding-right: 48px;
	}
}

/* -------------------------------------------------------------------------- */

/*	wc_completion_page.php
/* -------------------------------------------------------------------------- */

#wc_ordercompletion .dllist {
	margin-top: 24px;
	padding: 12px;
	background-color: #fafafa;
}

#wc_ordercompletion .dllist li {
	margin-bottom: 12px;
	padding: 0 5px 12px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}

#wc_ordercompletion .dllist li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

#wc_ordercompletion .dllist .thumb {
	max-width: 90px;
	margin-right: 15px;
	float: left;
}

#wc_ordercompletion .dllist .item_info_list td {
	margin-bottom: 6px;
	padding: 0;
	border: none;
}

#wc_ordercompletion .dllist .item_info_list p {
	padding-top: 8px;
	clear: both;
	font-size: 12px;
	line-height: 1.5;
	text-align: center;
}

#wc_ordercompletion .redownload_button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	max-width: 300px;
	margin: 0 calc(50% - 150px);
	padding: 10px 20px;
	background-color: #ccc;
	color: #fff;
}

#wc_ordercompletion .dlseller {
	padding-left: 105px;
}

#wc_ordercompletion .dlseller + .dlseller {
	margin-bottom: 20px;
}

#wc_ordercompletion .dlseller th,
#wc_ordercompletion .dlseller td {
	padding-left: 0;
}

#wc_ordercompletion .redownload_button::before {
	content: "";
	display: block;
	width: 17px;
	height: 17px;
	margin-right: 5px;
	background-image: url("assets/images/download.svg");
	background-repeat: no-repeat;
	background-size: contain;
}


/**
 * 16.1 Mobile Large 620px
 */
@media screen and (min-width: 38.75em) {


	/* -------------------------------------------------------------------------- */

	/*	wc_completion_page.php
	/* -------------------------------------------------------------------------- */

	#wc_ordercompletion .dllist {
		margin-top: 24px;
	}

	#wc_ordercompletion .dllist li {
		margin-bottom: 24px;
		padding-bottom: 24px;
	}

	#wc_ordercompletion .send {
		justify-content: center;
	}

	#wc_ordercompletion .dlseller tr {
		display: flex;
		flex-wrap: nowrap;
	}


	/* =wc_dlseller_auto_billing_page.php
	-------------------------------------------------------------- */


	/* h2 */
	#wc_member_auto_billing_info #memberinfo h2 {
		padding: 1.428em .714em .714em 1.428em;
		background: none;
		color: inherit;
	}

	/* .subscription_block */
	.auto_billing_contents .subscription_block {
		margin-bottom: 1.6em;
	}

	.auto_billing_contents .subscription_block:last-child {
		margin-bottom: 0;
	}

	/* dl */
	.auto_billing_contents dl {
		grid-template-columns: auto 1fr auto 1fr;
	}

	.auto_billing_contents dl::after {
		background-color: #e8e8e8;
	}

	.auto_billing_contents dt {
		min-width: 10px;
		padding: .714em 2em .714em 1.428em;
		font-weight: bold;
	}

	.auto_billing_contents dd {
		padding: .714em 1.428em;
	}

	.auto_billing_contents dd:nth-of-type(odd) {
		border-color: #e8e8e8;
	}

	/* select */
	.auto_billing_contents .billing-year-select {
		top: .714em;
		right: 1.428em;
	}

	.auto_billing_contents .billing-year-select select {
		padding: .571em 2.143em .571em .571em;
	}

	/* table */
	#memberinfo .auto_billing_contents table {
		width: calc(100% - 2.856em);
		margin: 0 auto 1em;
	}

	#memberinfo .auto_billing_contents table thead {
		display: table-header-group;
	}

	#memberinfo .auto_billing_contents table tbody tr {
		display: table-row;
	}

	#memberinfo .auto_billing_contents table thead th,
	#memberinfo .auto_billing_contents table tbody td,
	#memberinfo .auto_billing_contents table tbody td:last-child,
	#memberinfo .auto_billing_contents table tbody td:nth-child(even) {
		border: 1px solid #ddd;
		border-right: none;
		border-left: none;
	}

	#memberinfo .auto_billing_contents table thead th,
	#memberinfo .auto_billing_contents table tbody td {
		padding: .357em .714em;
		text-align: center;
	}

	#memberinfo .auto_billing_contents table tbody td {
		display: table-cell;
	}

	#memberinfo .auto_billing_contents table tbody td::before {
		display: none;
	}

	#memberinfo .auto_billing_contents p.nodata {
		padding: .5em 1em 1.5em;
	}

}


/**
* 16.3 Tablet Large 880px
*/
@media screen and (min-width: 55em) {


	.dlseller {
		display: table;
	}

	.dlseller tbody {
		display: table-row-group;
	}

	.dlseller tr {
		display: table-row;
	}

	.dlseller th,
	.dlseller td {
		display: table-cell;
		padding: 12px 6px;
		border-top: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
		vertical-align: middle;
	}

	.dlseller th {
		width: 40%;
	}

	.dlseller td {
		width: 60%;
		padding-left: 24px;
		font-size: 13px;
	}

	.dlseller.data {
		margin-bottom: 20px;
		padding-top: 0;
		border-top: none;
	}

	.dlseller.charging th,
	.dlseller.charging td {
		padding: 12px;
		border: 1px solid #e8e8e8;
	}

	.dlseller.charging th {
		background-color: #e8e8e8;
	}

	/* -------------------------------------------------------------------------- */

	/*	customer_page.php
	/* -------------------------------------------------------------------------- */

	.is-member .customer_form {
		margin-bottom: 24px;
	}

	.is-member #nav {
		margin-left: 190px;
	}


	/* -------------------------------------------------------------------------- */

	/*	wc_completion_page.php
	/* -------------------------------------------------------------------------- */

	#wc_ordercompletion .dllist {
		margin-top: 36px;
		padding: 24px;
	}

	#wc_ordercompletion .dllist .dlseller tbody {
		display: flex;
		flex-wrap: wrap;
	}

	#wc_ordercompletion .dllist .dlseller tr {
		width: 50%;
	}

	#wc_ordercompletion .dllist .dlseller,
	#wc_ordercompletion .dllist .dlseller th,
	#wc_ordercompletion .dllist .dlseller td {
		display: block;
	}

	#wc_ordercompletion .dllist .dlseller th,
	#wc_ordercompletion .dllist .dlseller td {
		padding: 0;
		border: none;
		font-size: 13px;
	}

	#wc_ordercompletion .dllist .thumb {
		max-width: 150px;
		margin-right: 24px;
	}

	#wc_ordercompletion .dllist .item_info_list p {
		margin-left: 0;
		clear: none;
		font-size: 13px;
	}

	#wc_ordercompletion .dlseller {
		padding-left: 185px;
	}


	/* DL Seller | Member Auto Billing Info
	-------------------------------------------------------------- */

	#wc_member_auto_billing_info h1 {
		font-size: 26px;
	}

}
