@charset "UTF-8";
body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", sans-serif;
  word-break: break-word;
}

.footer-group .in {
  background-image: linear-gradient(to right, #847655, #554c37) !important;
}

@media screen and (max-width: 743px) {
  .site-logo {
    padding-left: 10px;
  }
  .site-logo img {
    width: auto;
    max-height: 34px;
  }
}

.header-group.fixed_header {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

@media print, screen and (min-width: 744px) {
  .header-group.fixed_header .header_inner {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  }
}

.c-text {
  margin-bottom: 1.875em;
  line-height: 1.875;
}

@media print, screen and (min-width: 744px) {
  .c-textLead {
    margin-bottom: 5rem;
    font-size: 2rem;
    text-align: center;
    line-height: 2.3;
  }
}
@media screen and (max-width: 743px) {
  .c-textLead {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    text-align: left;
    line-height: 2;
  }
}

.c-textTagline {
  font-weight: 800;
  margin-bottom: 0.8em;
}
@media print, screen and (min-width: 744px) {
  .c-textTagline {
    font-size: 5.8rem;
    line-height: 1.2;
  }
}
@media screen and (max-width: 743px) {
  .c-textTagline {
    font-size: 2.6rem;
    line-height: 1.4;
  }
}

.c-textLink {
  position: relative;
  margin: 0;
  padding-right: 0.9em;
  margin-right: 0.5rem;
}
.c-textLink::after {
  content: "";
  position: absolute;
  bottom: 0.4em;
  right: 0;
  width: 0.5em;
  height: 0.5em;
  border-top: 1px solid currentColor;
  border-right: 1px solid currentColor;
  transform: rotate(45deg);
}
.c-textLink[target=_blank] {
  padding-right: 0;
}
.c-textLink[target=_blank]::after {
  content: "";
  position: relative;
  top: inherit;
  bottom: inherit;
  right: inherit;
  display: inline-block;
  vertical-align: super;
  margin-left: 3px;
  width: 10px;
  height: 10px;
  background: url(../images/common/ico_blank.svg) no-repeat center center;
  background-size: contain;
  border: none;
  transform: none;
  transform: translateY(3px);
}
.c-textLink[href*=".pdf"] {
  padding-right: 0;
}
.c-textLink[href*=".pdf"]::after {
  content: "";
  position: relative;
  top: inherit;
  bottom: inherit;
  right: inherit;
  display: inline-block;
  vertical-align: middle;
  margin-left: 3px;
  width: 25px;
  height: 25px;
  background-image: url("../images/common/ico_file_pdf.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  transform: none;
}
.c-textLink.u-color--white {
  color: #fff;
}
.c-textLink.u-color--white::after {
  border-color: #fff;
}

.c-textMarker {
  font-style: normal;
  background: rgba(0, 0, 0, 0) linear-gradient(transparent 0%, transparent 65%, #00184a 65%, #00184a 100%) repeat scroll 0 0;
}

@media print, screen and (min-width: 744px) {
  .u-show--sp {
    display: none !important;
  }
}

@media screen and (max-width: 743px) {
  .u-show--pc {
    display: none !important;
  }
}

.u-hide {
  display: none;
}

.u-floatL {
  float: left;
}

.u-floatR {
  float: right;
}

.u-clear::after {
  content: "";
  display: block;
  clear: both;
}

.u-alignL {
  text-align: left;
}

.u-alignR {
  text-align: right;
}

.u-alignC {
  text-align: center;
}

.u-triming1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.u-triming2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.u-triming3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.u-bgColor--base {
  background-color: #847655;
}

.u-bgColor--gray {
  background-color: #f8f8f8;
}

.u-noimage {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  width: 100%;
  aspect-ratio: 16/9;
  box-shadow: inset 0 0 4rem rgba(0, 0, 0, 0.1);
}
@media print, screen and (min-width: 744px) {
  .u-noimage {
    min-height: 30rem;
  }
}
.u-noimage img {
  width: 50% !important;
  height: auto;
  opacity: 0.3 !important;
}

.u-dummyBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1020px;
  height: 16rem;
  background: #eee;
  font-size: 1.7rem;
  margin: 0 auto 4rem;
}
@media print, screen and (min-width: 744px) {
  .u-dummyBlock {
    height: 40rem;
  }
}

.u-noticeProduction {
  background: #eee;
  padding: 3rem 6rem;
  margin: -5rem 0 8rem;
  line-height: 1.5;
}
@media screen and (max-width: 743px) {
  .u-noticeProduction {
    padding: 2rem 2rem;
    margin: -3rem 0 4rem;
    font-size: 1.4rem;
  }
}

.u-font--bold {
  font-weight: 600;
}

.u-font--sup {
  vertical-align: super;
  font-size: 0.5em;
}

.u-font--italic {
  font-style: italic;
}

.u-font--small {
  font-size: 0.85em;
  display: inline-block;
  line-height: inherit;
}

.u-font--large {
  font-size: 1.2em;
}

.u-font--en {
  font-family: Arial, Helvetica, sans-serif;
}

.u-color--red {
  color: #E50000;
}

.u-color--white {
  color: #fff;
}

.u-font-uppercase {
  text-transform: uppercase;
}

.u-loadlazy.hide {
  opacity: 0;
}

.u-loadlazy.show {
  transition: opacity 0.3s linear;
  opacity: 1 !important;
}

.u-showLoading {
  position: relative;
}

.u-showLoading:has(.u-loadlazy)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  margin: auto;
  opacity: 0.5;
  background: url("../images/common/loading.svg") no-repeat center center/contain;
}
@media print, screen and (min-width: 744px) {
  .u-showLoading:has(.u-loadlazy)::before {
    width: 4rem;
    height: 4rem;
  }
}

.u-showLoading:has(.u-loadlazy.show)::before {
  display: none;
}

.u-mt0 {
  margin-top: 0rem;
}

.u-mt1 {
  margin-top: 1rem;
}

.u-mt2 {
  margin-top: 2rem;
}

.u-mt3 {
  margin-top: 3rem;
}

.u-mt4 {
  margin-top: 4rem;
}

.u-mt5 {
  margin-top: 5rem;
}

.u-mt6 {
  margin-top: 6rem;
}

.u-mt7 {
  margin-top: 7rem;
}

.u-mt8 {
  margin-top: 8rem;
}

.u-mt9 {
  margin-top: 9rem;
}

.u-mt10 {
  margin-top: 10rem;
}

.u-mt11 {
  margin-top: 11rem;
}

.u-mt12 {
  margin-top: 12rem;
}

.u-mt13 {
  margin-top: 13rem;
}

.u-mt14 {
  margin-top: 14rem;
}

.u-mt15 {
  margin-top: 15rem;
}

.u-mt16 {
  margin-top: 16rem;
}

.u-mt17 {
  margin-top: 17rem;
}

.u-mt18 {
  margin-top: 18rem;
}

.u-mt19 {
  margin-top: 19rem;
}

.u-mt20 {
  margin-top: 20rem;
}

.u-mb0 {
  margin-bottom: 0rem;
}

.u-mb1 {
  margin-bottom: 1rem;
}

.u-mb2 {
  margin-bottom: 2rem;
}

.u-mb3 {
  margin-bottom: 3rem;
}

.u-mb4 {
  margin-bottom: 4rem;
}

.u-mb5 {
  margin-bottom: 5rem;
}

.u-mb6 {
  margin-bottom: 6rem;
}

.u-mb7 {
  margin-bottom: 7rem;
}

.u-mb8 {
  margin-bottom: 8rem;
}

.u-mb9 {
  margin-bottom: 9rem;
}

.u-mb10 {
  margin-bottom: 10rem;
}

.u-mb11 {
  margin-bottom: 11rem;
}

.u-mb12 {
  margin-bottom: 12rem;
}

.u-mb13 {
  margin-bottom: 13rem;
}

.u-mb14 {
  margin-bottom: 14rem;
}

.u-mb15 {
  margin-bottom: 15rem;
}

.u-mb16 {
  margin-bottom: 16rem;
}

.u-mb17 {
  margin-bottom: 17rem;
}

.u-mb18 {
  margin-bottom: 18rem;
}

.u-mb19 {
  margin-bottom: 19rem;
}

.u-mb20 {
  margin-bottom: 20rem;
}

.u-ml0 {
  margin-left: 0rem;
}

.u-ml1 {
  margin-left: 1rem;
}

.u-ml2 {
  margin-left: 2rem;
}

.u-ml3 {
  margin-left: 3rem;
}

.u-ml4 {
  margin-left: 4rem;
}

.u-ml5 {
  margin-left: 5rem;
}

.u-ml6 {
  margin-left: 6rem;
}

.u-ml7 {
  margin-left: 7rem;
}

.u-ml8 {
  margin-left: 8rem;
}

.u-ml9 {
  margin-left: 9rem;
}

.u-ml10 {
  margin-left: 10rem;
}

.u-ml11 {
  margin-left: 11rem;
}

.u-ml12 {
  margin-left: 12rem;
}

.u-ml13 {
  margin-left: 13rem;
}

.u-ml14 {
  margin-left: 14rem;
}

.u-ml15 {
  margin-left: 15rem;
}

.u-ml16 {
  margin-left: 16rem;
}

.u-ml17 {
  margin-left: 17rem;
}

.u-ml18 {
  margin-left: 18rem;
}

.u-ml19 {
  margin-left: 19rem;
}

.u-ml20 {
  margin-left: 20rem;
}

.u-mr0 {
  margin-right: 0rem;
}

.u-mr1 {
  margin-right: 1rem;
}

.u-mr2 {
  margin-right: 2rem;
}

.u-mr3 {
  margin-right: 3rem;
}

.u-mr4 {
  margin-right: 4rem;
}

.u-mr5 {
  margin-right: 5rem;
}

.u-mr6 {
  margin-right: 6rem;
}

.u-mr7 {
  margin-right: 7rem;
}

.u-mr8 {
  margin-right: 8rem;
}

.u-mr9 {
  margin-right: 9rem;
}

.u-mr10 {
  margin-right: 10rem;
}

.u-mr11 {
  margin-right: 11rem;
}

.u-mr12 {
  margin-right: 12rem;
}

.u-mr13 {
  margin-right: 13rem;
}

.u-mr14 {
  margin-right: 14rem;
}

.u-mr15 {
  margin-right: 15rem;
}

.u-mr16 {
  margin-right: 16rem;
}

.u-mr17 {
  margin-right: 17rem;
}

.u-mr18 {
  margin-right: 18rem;
}

.u-mr19 {
  margin-right: 19rem;
}

.u-mr20 {
  margin-right: 20rem;
}

.u-mt0em {
  margin-top: 0em;
}

.u-mt1em {
  margin-top: 1em;
}

.u-mt2em {
  margin-top: 2em;
}

.u-mt3em {
  margin-top: 3em;
}

.u-mt4em {
  margin-top: 4em;
}

.u-mt5em {
  margin-top: 5em;
}

.u-mt6em {
  margin-top: 6em;
}

.u-mt7em {
  margin-top: 7em;
}

.u-mt8em {
  margin-top: 8em;
}

.u-mt9em {
  margin-top: 9em;
}

.u-mt10em {
  margin-top: 10em;
}

.u-mb0em {
  margin-bottom: 0em;
}

.u-mb1em {
  margin-bottom: 1em;
}

.u-mb2em {
  margin-bottom: 2em;
}

.u-mb3em {
  margin-bottom: 3em;
}

.u-mb4em {
  margin-bottom: 4em;
}

.u-mb5em {
  margin-bottom: 5em;
}

.u-mb6em {
  margin-bottom: 6em;
}

.u-mb7em {
  margin-bottom: 7em;
}

.u-mb8em {
  margin-bottom: 8em;
}

.u-mb9em {
  margin-bottom: 9em;
}

.u-mb10em {
  margin-bottom: 10em;
}

@media screen and (max-width: 743px) {
  .u-spmlr-10vw {
    margin-left: -10vw;
    margin-right: -10vw;
  }
}
.l-container {
  position: relative;
  max-width: calc(1180px + 2em);
  margin-right: auto;
  margin-left: auto;
}
@media print, screen and (min-width: 744px) {
  .l-container {
    max-width: calc(1120px + 4em);
  }
}
body.home .l-container {
  padding: 0 1em;
}
@media print, screen and (min-width: 744px) {
  body.home .l-container {
    padding: 0 2em;
  }
}

.l-breadcrumbs {
  position: relative;
  line-height: 1.75;
  color: #666;
}
@media print, screen and (min-width: 744px) {
  .l-breadcrumbs {
    padding: 0;
    margin: -30px auto 30px;
    font-size: 13px;
  }
}
@media screen and (max-width: 743px) {
  .l-breadcrumbs {
    padding: 0;
    font-size: 11px;
    margin: 0px 0 40px;
  }
}
.l-breadcrumbs a {
  color: #666;
}

.shopping-navigation .membership {
  display: none;
}

.drawer-menu-sp .global-navigation {
  display: none;
}

@media screen and (max-width: 743px) {
  .footer-group .in {
    padding-bottom: 130px;
  }
}

.default-head-img {
  position: relative;
  aspect-ratio: 9/4;
  background-color: #eeece1;
  background-image: url("../../images/mv_pc.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 743px) {
  .default-head-img {
    aspect-ratio: 1/1.5128;
    background-image: url("../../images/mv_sp.png");
  }
}
.default-head-img img {
  display: none;
}

@media print, screen and (min-width: 744px) {
  .home-slide-container {
    margin-bottom: 100px;
  }
}

@media screen and (max-width: 743px) {
  .section-home .entryhead .en {
    font-size: 18px !important;
    letter-spacing: 0.03em !important;
  }
}

.section-home.brand {
  background: #eeece1;
  background-image: linear-gradient(to right, #eeece1, #e5e2d1) !important;
  padding-top: 80px;
  padding-bottom: 80px;
}
.section-home.brand .brand-logo.list {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(85, 76, 55, 0.5);
}
.section-home.brand .brand-logo.list img {
  width: 80%;
  height: auto;
}
.section-home.brand .brand-logo.list .over {
  background: #f9f9f5;
  color: #463f2d !important;
  border-radius: 0 0 8px 8px;
  box-shadow: inset 0 -3px 3px rgba(0, 0, 0, 0.1);
}
.section-home.brand .brand-logo.list .over .over-in {
  padding: 10px 0 16px;
}
@media screen and (max-width: 743px) {
  .section-home.brand .brand-logo.list .over .over-in {
    padding: 8px 0 13px;
  }
}
.section-home.brand .brand-logo.list .over h2 {
  font-size: 15px;
  line-height: 1.2;
  margin-bottom: 2px;
  font-weight: 600;
}
@media screen and (max-width: 743px) {
  .section-home.brand .brand-logo.list .over h2 {
    font-size: 14px;
  }
}
.section-home.brand .brand-logo.list .over .sub {
  margin-top: 2px;
  font-size: 10px;
  line-height: 1.2;
  color: #655a41 !important;
}

body.tax-brand .brand-img {
  display: none;
}
body.tax-brand .entry-head .en {
  font-size: 30px !important;
  line-height: 1;
}
@media print, screen and (min-width: 744px) {
  body.tax-brand .entry-head .en {
    font-size: 40px !important;
  }
}

.p-brandChildIndex {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media print, screen and (min-width: 744px) {
  .p-brandChildIndex {
    gap: 12px;
  }
}
@media screen and (max-width: 743px) {
  .p-brandChildIndex {
    gap: 8px;
  }
}
@media print, screen and (min-width: 744px) {
  .p-brandChildIndex__item {
    width: calc((100% - 36px) / 4);
  }
}
@media screen and (max-width: 743px) {
  .p-brandChildIndex__item {
    width: calc((100% - 8px) / 2);
  }
}
.p-brandChildIndex__item a {
  position: relative;
  display: block;
  background: #eeece1;
  border: solid 1px #847655;
  box-shadow: inset 2px 2px 0px RGB(255, 255, 255, 1);
  padding: 1em;
  text-align: center;
  line-height: 1.3;
  font-weight: normal;
  border-radius: 4px;
}
@media print, screen and (min-width: 744px) {
  .p-brandChildIndex__item a {
    font-size: 13px;
  }
}
@media screen and (max-width: 743px) {
  .p-brandChildIndex__item a {
    font-size: 12px;
  }
}
.p-brandChildIndex__item a::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1em;
  width: 0.5em;
  height: 0.5em;
  margin: auto;
  border-right: solid 1px #847655;
  border-bottom: solid 1px #847655;
  transform: rotate(-45deg);
}

@media screen and (max-width: 743px) {
  .brand-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
  }
}
@media screen and (max-width: 743px) {
  .brand-list .list {
    width: calc((100% - 10px) / 2);
  }
}
.brand-list .list .img {
  background: #fff !important;
  border-radius: 8px;
  box-shadow: 0px 0px 4px rgba(85, 76, 55, 0.5);
}
@media screen and (max-width: 743px) {
  .brand-list .list .img {
    width: 20vw !important;
  }
}
.brand-list .list .info {
  line-height: 1.2;
  padding-top: 5px;
}
@media screen and (max-width: 743px) {
  .brand-list .list .info {
    flex: 1;
  }
}
@media print, screen and (min-width: 744px) {
  .brand-list .list .info .name {
    font-size: 16px;
  }
}
.brand-list .list .info .name-sub {
  margin-top: 4px;
}
@media screen and (max-width: 743px) {
  .brand-list .list .info .name-sub {
    font-size: 10px;
  }
}
@media print, screen and (min-width: 744px) {
  .brand-list .list .info .name-sub {
    font-size: 11px;
  }
}

.is-product .gallery .itemimg img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
  height: auto;
}
@supports not (aspect-ratio: auto) {
  .is-product .gallery .itemimg {
    position: relative;
  }
  .is-product .gallery .itemimg::before {
    content: "";
    float: left;
    padding-top: 100%;
  }
  .is-product .gallery .itemimg::after {
    content: "";
    clear: both;
    display: block;
  }
  .is-product .gallery .itemimg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.is-product .gallery .itemimg-sub .list img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
  height: auto;
}
@supports not (aspect-ratio: auto) {
  .is-product .gallery .itemimg-sub .list {
    position: relative;
  }
  .is-product .gallery .itemimg-sub .list::before {
    content: "";
    float: left;
    padding-top: 100%;
  }
  .is-product .gallery .itemimg-sub .list::after {
    content: "";
    clear: both;
    display: block;
  }
  .is-product .gallery .itemimg-sub .list img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media print, screen and (min-width: 744px) {
  .is-product {
    display: grid;
    grid-template-columns: 54% 1fr; /* 2列 */
    grid-template-rows: auto auto; /* 2行 */
    gap: 0px 50px; /* 適宜 */
  }
  .is-product .gallery {
    width: 100%;
    grid-row: 1/3; /* 1行目から3行目まで → 縦に2行ぶち抜き */
    grid-column: 1; /* 1列目 */
  }
  .is-product .add-to-cart {
    width: 100%;
    grid-row: 1; /* 上段 */
    grid-column: 2; /* 右側 */
  }
  .is-product .info {
    margin-top: 0;
    width: 100%;
    grid-row: 2; /* 下段 */
    grid-column: 2; /* 右側 */
  }
}
@media screen and (max-width: 743px) {
  .is-product .info {
    margin-top: 0px;
  }
}

@media print, screen and (min-width: 744px) {
  .is-product .tabs-pc {
    width: 100%;
  }
}
.is-product .tabs-pc .tabs {
  display: none;
}
@media print, screen and (min-width: 744px) {
  .is-product .tabs-pc .entry-box {
    margin-top: 0;
  }
}

.field_price {
  font-size: 24px !important;
}
.field_price .field_cprice {
  font-size: 14px !important;
}

/* 商品ページ：売り切れ商品の価格を非表示 */
body.is-item-soldout .field_price,
body.is-item-soldout .zaikostatus {
  display: none;
}

article.is-item-soldout .price {
  display: none;
}

/* ===============================================
   p-itemContact（商品ページお問い合わせブロック）
   =============================================== */
.post.is-item-soldout:not(.category-backorder) .p-itemContact {
  display: none;
}

.post.category-backorder .itemsoldout {
  display: none;
}
.post.category-backorder .p-itemBackorder {
  display: block;
}

.p-itemContact {
  margin-top: 32px;
  padding: 24px;
  background: #fff;
  border-radius: 6px;
  text-align: center;
  border: solid 1px #dcd7c0;
}
.p-itemContact__caption {
  font-size: 13px;
  line-height: 1.6;
  margin-bottom: 8px;
  color: #444;
}
.p-itemContact__caption span {
  font-weight: 600;
  color: #847655;
  font-size: 14px;
}
.p-itemContact__action {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  padding: 0;
}
.p-itemContact__action_btn {
  flex: 1;
  list-style: none;
}
.p-itemContact__action_btn a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 52px;
  padding: 16px 10px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.2;
  color: #fff !important;
  text-decoration: none;
  transition: opacity 0.2s ease;
}
@media print, screen and (min-width: 744px) {
  .p-itemContact__action_btn a {
    padding: 12px 10px;
    min-height: 64px;
    font-size: 13px;
  }
}
.p-itemContact__action_btn a[data-contacttype=line] {
  background: #9ea640;
}
.p-itemContact__action_btn a[data-contacttype=tel] {
  background: #847655;
}
@media (hover: hover) {
  .p-itemContact__action_btn a:hover {
    opacity: 0.85;
  }
}
.p-itemContact__action_btn a em {
  font-style: normal;
  font-weight: 600;
}
@media screen and (max-width: 743px) {
  .p-itemContact__action_btn a em {
    font-size: 15px;
  }
}
.p-itemContact__action_btn_telnum {
  display: inline-block;
  line-height: 1.1;
  margin-top: 3px;
  font-size: 15px;
}
.p-itemContact__remarks {
  font-size: 12px;
  color: #666;
  margin-top: 8px;
  line-height: 1.4;
}

.contact-item {
  display: none;
}

.p-itemBackorder {
  display: none;
  margin: 32px 0 -16px 0;
  position: relative;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #847655;
  background: #f9f9f5;
  padding: 12px 0;
  letter-spacing: 0.05em;
  border-top: solid 1px #847655;
  border-bottom: solid 1px #847655;
}
.p-itemBackorder::before, .p-itemBackorder::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 100%;
  z-index: 0;
}
.p-itemBackorder::before {
  left: 0;
  border-right: none;
}
.p-itemBackorder::after {
  right: 0;
  border-left: none;
}

/* ===============================================
   p-itemMeta（商品情報ブロック）
   =============================================== */
.p-itemSpec {
  margin-bottom: 40px;
}
.p-itemSpec__title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 12px;
}
.p-itemSpec__list {
  margin: 0;
}
.p-itemSpec__row {
  display: flex;
  gap: 10px;
  margin-bottom: 3px;
  background: #f4f2eb;
}
.p-itemSpec__term {
  width: 9em;
  flex-shrink: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  background: #e8e6d7;
  padding: 1em 1em;
  display: flex;
  align-items: center;
}
.p-itemSpec__desc {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 1em 0;
  font-size: 13px;
  line-height: 1.4;
}

.p-itemSpec__accessoryList {
  list-style: none;
  margin: 0 !important;
  padding: 0 !important;
}
.p-itemSpec__accessoryList li {
  list-style: none;
  position: relative;
  padding-left: 1.1em;
  line-height: 1.5;
  font-size: 12px !important;
  margin: 0;
}
.p-itemSpec__accessoryList li:not(:last-child) {
  margin-bottom: 0.3em;
}
.p-itemSpec__accessoryList li::before {
  content: "";
  display: block;
  position: absolute;
  top: 0.5em;
  left: 0.3em;
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: #222;
}

.p-itemRemarks {
  margin: 16px 0 0 0 !important;
  padding: 0;
  color: #666;
  list-style: none;
}
.p-itemRemarks li {
  list-style: none;
  position: relative;
  font-size: 12px !important;
  line-height: 1.4;
}

.p-itemTags {
  margin-top: 32px;
}
.p-itemTags__title {
  padding: 0;
  line-height: 1.3;
  margin-bottom: 0.5em !important;
}
@media screen and (max-width: 743px) {
  .p-itemTags__title {
    font-size: 14px;
  }
}
@media print, screen and (min-width: 744px) {
  .p-itemTags__title {
    font-size: 15px;
  }
}
.p-itemTags__list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 4px;
  padding: 0;
  margin: 0 !important;
  list-style: none;
}
.p-itemTags__item {
  list-style: none;
  margin: 0;
  padding: 0;
}
.p-itemTags__item a {
  display: inline-block;
  padding: 0.6em 0.8em 0.5em;
  background: #eeece1;
  border-radius: 4px;
  text-decoration: none;
  color: #333;
  line-height: 1.3;
  border: solid 1px #dcd7c0;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 743px) {
  .p-itemTags__item a {
    font-size: 11px;
  }
}
@media print, screen and (min-width: 744px) {
  .p-itemTags__item a {
    font-size: 12px;
  }
}
.p-itemBrand {
  margin: 32px 0 0 0;
  border-top: solid 1px #dcd7c0;
  border-bottom: solid 1px #dcd7c0;
  padding: 16px 0;
}
.p-itemBrand__title {
  font-size: 16px;
  font-weight: 700;
  display: none;
}
.p-itemBrand__desc {
  margin-bottom: 10px;
}

.p-itemBrand__link a {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #222;
  text-decoration: underline;
}
.p-itemBrand__link a:hover {
  text-decoration: none;
}

.product-group .list .img {
  border-radius: 6px;
}

body.home .list .img {
  border-radius: 6px;
}

.list .info h2 {
  font-weight: 500 !important;
  font-size: 13px !important;
}
.list .info .price {
  font-size: 16px !important;
}
.list .info .itemsoldout {
  text-transform: uppercase !important;
}

.list.category-backorder .itemsoldout {
  display: none;
}

body.home #mode_item_list-3 .list .itemsoldout {
  display: none;
}

.opt-tag-icon {
  padding: 4px 8px;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
}
.opt-tag-icon[data-icon=new] {
  background-color: #0077b9 !important;
}
.opt-tag-icon[data-icon=reco] {
  background-color: #9ea640 !important;
}
.opt-tag-icon[data-icon=used] {
  background-color: #222 !important;
}
.opt-tag-icon[data-icon=unused] {
  background-color: #847655 !important;
}
.opt-tag-icon[data-icon=sale-cat] {
  background-color: #b90000 !important;
}
.opt-tag-icon[data-icon=stock] {
  background-color: #00184a !important;
}
.opt-tag-icon[data-icon=sale] {
  background-color: #aa0000 !important;
}

.page .entry-header {
  background-color: #f4f2eb;
}
@media print, screen and (min-width: 744px) {
  .page .entry-header {
    padding: 3em 3em;
  }
}
@media screen and (max-width: 743px) {
  .page .entry-header {
    padding: 2em 1.5em;
    margin-top: -20px;
    margin-right: -1em;
    margin-left: -1em;
  }
}

h2.wp-block-heading {
  font-weight: 700;
  line-height: 1.5;
  margin: 48px 0 20px;
}
@media print, screen and (min-width: 744px) {
  h2.wp-block-heading {
    font-size: 24px;
  }
}
@media screen and (max-width: 743px) {
  h2.wp-block-heading {
    font-size: 18px;
  }
}

h3.wp-block-heading {
  font-weight: 700;
  line-height: 1.6;
  margin: 40px 0 12px;
}
@media print, screen and (min-width: 744px) {
  h3.wp-block-heading {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 743px) {
  h3.wp-block-heading {
    font-size: 16px !important;
  }
}

h4.wp-block-heading {
  font-weight: 700;
  line-height: 1.6;
  margin: 32px 0 10px;
}
@media print, screen and (min-width: 744px) {
  h4.wp-block-heading {
    font-size: 18px !important;
  }
}
@media screen and (max-width: 743px) {
  h4.wp-block-heading {
    font-size: 15px !important;
  }
}

h5.wp-block-heading {
  font-weight: 700;
  line-height: 1.6;
  margin: 28px 0 20px;
}
@media print, screen and (min-width: 744px) {
  h5.wp-block-heading {
    font-size: 16px !important;
  }
}
@media screen and (max-width: 743px) {
  h5.wp-block-heading {
    font-size: 14px !important;
  }
}

/* --------------------------------------------
  wp-block-table
-------------------------------------------- */
.wp-block-table {
  width: 100%;
  margin: 32px 0;
  overflow-x: auto;
  /* WP標準ストライプ */
}
.wp-block-table table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  min-width: 600px;
}
.wp-block-table th,
.wp-block-table td {
  padding: 12px 16px !important;
  border: 1px solid #bbb !important;
  line-height: 1.6;
  text-align: left;
}
@media print, screen and (min-width: 744px) {
  .wp-block-table th,
.wp-block-table td {
    font-size: 14px !important;
  }
}
@media screen and (max-width: 743px) {
  .wp-block-table th,
.wp-block-table td {
    font-size: 13px !important;
  }
}
.wp-block-table th {
  background: #333;
  color: #fff;
  font-weight: 600;
}
.wp-block-table.is-style-stripes tbody tr:nth-child(odd) {
  background-color: #f4f2eb;
}
@media screen and (max-width: 743px) {
  .wp-block-table table {
    min-width: 100%;
    display: block;
    border: 1px solid #bbb;
    border-bottom: none !important;
  }
  .wp-block-table thead {
    display: none;
  }
  .wp-block-table tbody,
.wp-block-table tr {
    display: block;
    width: 100%;
  }
  .wp-block-table td,
.wp-block-table th {
    display: block;
    width: 100%;
    border: none !important;
    padding: 8px 10px !important;
    border-bottom: 1px solid #bbb !important;
  }
}

.is-style-firstColumn td:first-child {
  background-color: #f4f2eb;
}
@media print, screen and (min-width: 744px) {
  .is-style-firstColumn td:first-child {
    width: 200px;
  }
}

.category-info {
  display: none;
}

.product-group .list .img {
  border-radius: 6px;
}

body.home .list .img {
  border-radius: 6px;
}

body.page-template-uscescart .is-not-member h3 {
  display: none;
}

.p-translateFixed {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  background-color: #847655;
  padding: 10px 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.p-instagramFeed {
  margin: 60px 0;
}
.p-instagramFeed__title {
  font-size: 24px;
  font-weight: bold;
}
@media print, screen and (min-width: 744px) {
  .p-instagramFeed__title {
    margin-bottom: 24px;
    text-align: center;
  }
}
@media screen and (max-width: 743px) {
  .p-instagramFeed__title {
    margin-bottom: 10px;
    font-size: 16px;
  }
}

.tiktok-svg::before {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z'/%3E%3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z'/%3E%3C/svg%3E");
}

/*# sourceMappingURL=overrides.css.map */
