@use "../global" as *;
@use "../component/btn" as *;

.c-form  {
	text-align: left;
 
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"],
  select,
  textarea {
  	margin-bottom: 1rem;
    padding: 1.8rem 1.6rem;
  	border-radius: 5px;
  	width: 100%;
    outline: none;
    font-size: 1.4rem;
    background: #f6f6f6;
    vertical-align: top;
    border: solid 1px #d6d6d6;

    @include pc {
      padding: 16px 20px;
      font-size: 16px;
    }

    &:focus {
      background: #fff;
      border: solid 1px $color_base;
      // box-shadow: 0 0 0 1px $color_sub;
    }
  }
  input[type="submit"],
  input[type="button"]{
    outline: none;
  }
  input::placeholder,
  textarea::placeholder {
    color: #8E8E8E;
  }
  textarea {
    @include sp {
      height: 300px;  
    }
  }
  select {
    position: relative;
  	width: 100%;
    vertical-align: middle;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    color: $color_text;
  }
  select::-ms-expand {
    display: none;
  }
  select option:disabled {
    display: none;
  }

  p {
    margin: 0 0 1.5em;
  }
}


.c-form__field {
  position: relative;
  display: flex;
  
  @include pc {
    margin-bottom: 2.5rem;
  }
  
  @include sp {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  &_title {
    @include pc {
      width: 20rem;
      flex-shrink: 0;
      padding-top: 1.8rem;
    }
    @include sp {
      margin-bottom: 0.6rem;
    }
    &_main {
      position: relative;
      line-height: 1.75;
      font-weight: 600;
      font-feature-settings: "palt";
      letter-spacing: 0.05em;
      @include pc {
        display: block;
        font-size: 1.7rem;
      }
      @include sp {
        font-size: 1.5rem;
      }
    }

    &_sub {
      position: relative;
      line-height: 1.75;
      font-weight: 400;
      letter-spacing: 0.03em;
      color: #777;
      @include pc {
        display: block;
        font-size: 1.3rem;
      }
      @include sp {
        display: inline-block;
        margin-left: 0.2rem;
        font-size: 1.2rem;
      }
    }
  }

  &_body {
    @include pc {
      width: calc(100% - 20rem);
    }
  }
}

.c-form__must {

  &::after {
    content: "*";
    display: inline-block;
    font-weight: 700;
    color: $Red;
    margin-left: 0.3rem;
    @include sp {
      font-size: 1.4rem;
    }
    @include pc {
      font-size: 2rem;
    }
  }
}

.c-form__select {
  position: relative;
  
  &:before {
    content: "";
    position: absolute;
    top: -0.6em;
    bottom: 0;
    margin: auto;
    right: 1.3em;
    width: 0.5em;
    height: 0.5em;
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    transform: rotate(45deg);
    z-index: 10;
  }

  select {
    color: #8E8E93;

    &.selected {
      color: $color_text;
    }  
  }
}


.c-form__inputbtn {
  padding: 1.5rem 0 1.5rem;
  line-height: 1.4;
  letter-spacing: 0;
  @include sp {
    font-size: 1.5rem;
  }
  @include pc {
    font-size: 1.6rem;
  }

  label {
    cursor: pointer;
  }

  input[type="radio"],
  input[type="checkbox"] {
    display: none;
    
    + span {
      position:relative;
      display: inline-block;
      padding-left: 24px;
      padding-right: 1rem;
      margin-bottom: 2rem;
      
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 1px;
        left: 0;
        width: 18px;
        height: 18px;
        border: 1px solid $Black;
        border-radius: 50%;
        background: #fff;
        @include pc {
          top: 3px;
        }
      }
    }
  }
  
  input[type="radio"]:checked {
    + span {
      &::before {
        // background: $color_sub;
        border: solid 1px $color_base;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        left: 4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $color_base;
        @include pc {
          top: 7px;
        }
      }
    }
  }
  
  input[type="checkbox"]:checked {
    + span {
      &::before {
        border: solid 1px $color_base;
        background: $color_base;
      }
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: -2px;
        bottom: 0;
        left: 6px;
        margin: auto;
        width: 6px;
        height: 11px;
        transform: rotate(40deg);
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        @include pc {
          top: 0px;
        }
      }
    }
  }
  
  .wpcf7-list-item {
    margin-left: 0 !important;
  }
}

.c-form__file {
  padding-bottom: 1em;
  @include sp {
    font-size: 13px;
  }
  @include pc {
    font-size: 14px;
  }
}

.c-form__privacy {
  margin: 4rem 0 0;
  text-align: center;
  @include pc {
    font-size: 1.7rem;
  }

  a {
    text-decoration: underline;
  }

  &_sub {
    font-size: 1.3rem;
    color: #777;
    margin-top: -3rem;
    padding-right: 2.4rem;
    letter-spacing: 0.03em;
    @include sp {
      margin-top: -2.5rem;
      font-size: 1.2rem;
    }
  }
}

.c-form__submit {
  text-align: center;
  margin-top: 3rem;

  label {
    display: inline-block;
    position: relative;
    margin: 0;

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    
    input {
      display: inline-block;
      padding: 1.4em 3.33em 1.4em;
      position: relative;
      text-align: center;
      line-height: 1.3;
      margin: 0;
      background-color: $color_base;
      border-radius: 60px;
      font-weight: 700;
      color: #fff;
      z-index: 1;
      @include kerning_space;
      transition: 0.1s linear;
      
      @include sp {
        width: 60vw;
        font-size: 1.6rem;
      }
      @include pc {
        width: 32rem;
        font-size: 2.2rem;
      }

      @include hover {
        background-color: lighten($color_base, 5%);
      }
    }
    
  }
}

.c-formPassword {
  position: relative;

  &_eye {
    display: block;
    position: absolute;
    top: 1.8rem;
    right: 1.5rem;
    width: 2.8rem;
    height: 2.8rem;
    cursor: pointer;
    @include sp {
      top: 1.4rem;
    }
  }
  
  .ico-eye {
    background: url(../images/common/ico_eye.svg) no-repeat center center;
    background-size: contain;
    opacity: 1;
  }
  .ico-eye-slash {
    background: url(../images/common/ico_eye-slash.svg) no-repeat center center;
    background-size: contain;
    opacity: 0.6;
  }
}


.wpcf7-spinner {
  margin: 0 -30px 0 6px;
}
.wpcf7-not-valid-tip {
  font-size: 0.75em !important;
  line-height: 1.2;
  margin: -0.5em 0 1.5em;
}

input[type="text"]:read-only {
  background: #fffad9;
  outline: inherit;
}


.wpcf7-form.init {
  .wpcf7-not-valid-tip {
    display: none !important;
  }
}

.grecaptcha-badge {
  z-index: 50;
}

.cf-turnstile {
  margin: 0 0 2rem;
  @include pc {
    margin-top: -4rem;
  }
}