@use "../global" as *;


.c-headingStyle3 {
  position: relative;
  line-height: 1.5;
  text-align: left;
  font-weight: 800;
  border-left: solid 4px $color_base;
  padding: 0.6em 0 0.6em 1.3em;
  @include sp {
    font-size: 1.8rem;
    margin: 3rem 0 1.5rem;
    border-width: 3px;
  }
  @include pc {
    font-size: 2.6rem;
    margin: 6rem 0 3rem;
  }

  &:nth-child(1) {
    margin-top: 0;
  }
}


.c-headingStyle4 {
  position: relative;
  font-weight: 700;
  line-height: 1.67;
  @include sp {
    font-size: 1.8rem;
    margin: 4rem 0 2rem;
    border-width: 3px;
  }
  @include pc {
    font-size: 2.4rem;
    margin: 5rem 0 2.5rem;
  }
  &:nth-child(1) {
    margin-top: 0;
  }
}

.c-headingStyle5 {
  position: relative;
  font-weight: 700;
  line-height: 1.67;
  @include sp {
    font-size: 1.6rem;
    margin: 3.5rem 0 0.6rem;
    border-width: 3px;
  }
  @include pc {
    font-size: 2rem;
    margin: 4rem 0 1rem;
  }
  &:nth-child(1) {
    margin-top: 0;
  }
}

.c-headingStyle6 {
  position: relative;
  font-weight: 700;
  line-height: 1.5;
  background: $Gray_pale;
  @include sp {
    padding: 1.2rem 1.8rem;
    margin: 3.5rem 0 1.6rem;
  }
  @include pc {
    padding: 1.5rem 2.4rem;
    margin: 4rem 0 2rem;
  }
  &:nth-child(1) {
    margin-top: 0;
  }
}

.c-headingStyle3 + .c-headingStyle6 {
  margin-top: 0;
}