// @use "heading";
// @use "btn";
// @use "list";
@use "text";
// @use "table";
// @use "form";
// @use "box";
// @use "pagetitle";
// @use "section";
// @use "pagination";
// @use "naviTab";
// @use "naviText";
// @use "naviAnchor";
// @use "single";
