@use "../global" as *;
@use "../component/heading" as *;
@use "../component/btn" as *;
@use "../component/text" as *;
@use "../component/list" as *;
@use "../component/table" as *;


.c-singleBody {
  
  h1 {
    // @extend .c-headingStyle1;
    font-size: 4.4rem;
    margin: 2.6em 0 1.2em;
    line-height: 1.5;
    @include sp {
      font-size: 2.2rem;
    }
  }
  h2 {
    font-size: 3.6rem;
    margin: 2.6em 0 1.2em;
    line-height: 1.5;
    @include sp {
      font-size: 2.4rem;
    }
    // @extend .c-headingStyle1;
  }
  h3 {
    font-size: 3rem;
    margin: 2.6em 0 1.2em;
    line-height: 1.5;
    @include sp {
      font-size: 2rem;
    }
    // @extend .c-headingStyle3;
  }
  h4 {
    font-size: 2.4rem;
    margin: 2.6em 0 1.2em;
    line-height: 1.5;
    @include sp {
      font-size: 1.8rem;
    }
  }

  p {
    margin: 2em 0 2em;
  }
  
  ul {
    @extend .c-ulStyle1;
    margin: 2em 0 2em;
  }

  ol {
    @extend .c-olStyle1;
    margin: 2em 0 2em;
  }

  .wp-block-image {
    margin: 2em 0 2em;
  }

  img {
    position: relative;
  }

  .wp-block-image.is-style-rounded img,
  .wp-block-image .is-style-rounded img {
    border-radius: 2.4rem;
    @include sp {
      border-radius: 1.2rem;
    }
  }
}

.c-singleEyecatch {
  text-align: center;
  margin-bottom: 6rem;
  @include pc {
    margin-bottom: 8rem;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
}

.c-singleNavi {
  position: relative;
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include sp {
    margin: 6rem 0 0;
  }

  &__btn {
    min-width: 8rem;

    &_prev,
    &_next {
      position: relative;
      padding: 0 0 0 1.2em;
      line-height: 1.5;
      color: $color_text !important;
      border-radius: 20rem;
      font-size: 1.6rem;
      text-decoration: none;
      transition: 0.1s linear;
      @include sp {
        font-size: 1.3rem;
      }
  
      &::before {
        content: "";
        position: absolute;
        top: 1px;
        bottom: 0;
        left: 0;
        margin: auto;
        vertical-align: middle;
        width: 0.6em;
        height: 0.6em;
        border-top: 2px solid $color_base;
        border-right: 2px solid $color_base;
        transform: rotate(225deg);
      }
      
      @include hover {
        text-decoration: underline;
      }
    }
      
    &_next {
      padding-left: 0;
      padding: 0 1em 0 0;
      text-align: right;
      &::before {
        left: inherit;
        right: 0;
        transform: rotate(45deg);
      }
    }
  
    &_back {
      padding: 1em 5rem 1em 5rem;
      line-height: 1.5;
      color: $color_text !important;
      background: #f0f0f0;
      border-radius: 20rem;
      font-size: 1.6rem;
      text-decoration: none;
      transition: 0.1s linear;
      @include sp {
        font-size: 1.3rem;
        padding-right: 2.4rem;
        padding-left: 2.4rem;
      }
      @include hover {
        background: $color_base;
        color: #fff !important;
      }
    }
  }
}