@use "../global" as *;

.c-table__slideWrapper {
  @include sp {
    padding-right: $spPadding;
    margin-right: -$spPadding;
    width: calc(100% + #{$spPadding});
    overflow: auto;
  }
}

.c-tableStyle1 {
	line-height: 1.5;
	width: 100%;
	border-collapse: collapse;
  letter-spacing: 0.05em;
  @include sp {
  	margin: 2rem 0 4rem;
  	font-size: 1.4rem;
  }
  @include pc {
  	margin: 3rem 0 6rem;
    font-size: 1.7rem;
  }

  caption {
    text-align: left;
    font-weight: 600;
    padding-bottom: 0.6rem;
  }

  th,
  td {
  	border: solid 1px $color_border;
  	background: #FFF;
  	text-align: left;
  	vertical-align: middle;
    font-weight: normal;
    @include sp {
      padding: 1.5rem 1.5rem;
    }
    @include pc {
      padding: 2.5rem 2.5rem;
    }
  }
  th {
    background: $color_base;
    text-align: center;
    font-weight: 500;
    line-height: 1.33;
    color: #fff;
    @include sp {
      width: 20vw !important;
      padding-left: 1rem;
      padding-right: 1rem;
      font-size: 1.3rem;
    }
    @include pc {
      width: 20rem;
    }
  }

  &[data-responsive="true"] {
    @include sp {
      border-bottom: solid 1px $color_border;
      thead {
        display: none;
      }
      th,
      td {
        display: block;
        width: 100% !important;
        border: none;
        text-align: left;
        border-right: solid 1px $color_border;
        border-left: solid 1px $color_border;
        padding: 1.2rem 1.5rem;
      }
    }
  }

  &[data-headerfix="true"] {
    thead {
      @include pc {
        position: sticky;
        top: calc(110px);
        left: 0;
        z-index: 1;
        th,td {
          border-top: none;
          border-bottom: none;
        }
      }
      @media screen and (max-width: 1680px) and (min-width: ($bp + 1)) {
        position: sticky;
        top: calc(90px);
      }
    }
  }
}


.c-tableStyle2 {
  @extend .c-tableStyle1;
  th {
    background: $Gray_pale;
    color: $color_text;
  }

  thead {
    td,th {
      background: $color_base;
      color: #fff;
      text-align: center;
      padding: 1.5rem;
      line-height: 1.3;
      @include pc {
        white-space: nowrap;
      }
    }
  }

  &[data-responsive="true"] {
    @include sp {
      border: solid 1px $color_border;
      border-top: none;
      th,
      td {
        width: 100% !important;
        border: none;
      }
      tbody {
        th {
          border-top: solid 1px $color_border;
          border-bottom: solid 1px $color_border;
          font-size: 1.5rem;
        }
        td + td {
          border-top: dashed 1px $color_border;
        }
      }
    }
  }
}
