/* favorite-icon style */
.favorite-icon {
	position: absolute;
	width: 30px;
	right: 10px;
	bottom: 5px;
	line-height: 1;
	cursor: pointer;
}
.square .favorite-icon img {
	position: static;
	transform: none;
}
#secondary .favorite-icon {
	width: 18px;
	right: inherit;
	bottom: inherit;
	top: 0;
	left: 0;
}
/* item_single style */
/* dialog style */
#tofavorite-content {
	width: 80%;
	max-width: 400px;
	margin: 0;
	padding: 30px 25px;
	background: #fff;
	border-radius: 4px;
	position: fixed;
	display: none;
	z-index: 2;
}
#tofavorite-content a{
	background: #eee;
	display: block;
	text-align: center;
	color: #333;
	font-size: 14px;
	width: 100%;
	height: 46px;
	line-height: 46px;
	border-radius: 4px;
}
#tofavorite-content .tofavorite-page-link a,
#tofavorite-content .tologin-page-link a,
#tofavorite-content .tologin-newmember-page-link a {
	background-color: #777;
	color: #fff;
	margin-top: 10px;
}
.tologin-page-link{
	margin-top: 20px;
}
.tologin-newmember-page-link{
	margin: 0 0 20px;
}
.tofavorite-button-link {
	margin-top: 10px;
}
#tofavorite-overlay {
	z-index: 1;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba( 0, 0, 0, 0.5 );
}
/* .favorite-button style */
.favorite-button input {
	width: 100%;
	height: 46px;
	line-height: 46px;
	border-radius: 4px;
}
.favorite-button .add-favorite {
	background-color: #f0f0f0;
	width: 100%;
	color: #777;
	border: 1px solid #777;
}
.favorite-button .add-favorite:hover,
.favorite-button .add-favorite.added:hover {
	background-color: #777;
	color: #fff;
}
.favorite-button .add-favorite.added {
	background-color: #fff;
}
/* member_favorite_page */
.member-favorite {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(155px, 1fr));
	gap: 2em 4%;
}
.member-favorite .list {
	width: 100%;
	display: flex;
	flex-flow: column;
}
.member-favorite .img {
    position: relative;
    overflow: hidden;
	order: 1;
}
.member-favorite .img img {
	max-width: none;
	width: 100%;
}
.member-favorite .overlay {
	position: static;
}
.member-favorite .overlay .sub-img {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: -1;
	opacity: 0;
}
.member-favorite .overlay:hover .sub-img {
	opacity: 1;
}
.member-favorite .overlay > img {
	opacity: 1;
}
.member-favorite .overlay > img:hover {
	opacity: 0;
	-webkit-transition: all .4s;
	transition: all .4s;
}
.member-favorite .info {
	margin: 10px 5px 0;
}
.member-favorite h2 {
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	line-height: 1.4;
}
.member-favorite .price {
	font-family: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', 'sans-serif';
	font-size: 12px;
	margin-top: 4px;
}
#wc_member_favorite_page .send a {
    background: #eee;
    display: block;
    color: #666;
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 46px;
    line-height: 46px;
    border-radius: 4px;
}
/* widget_wcex_favorite_widget */
.widget_wcex_favorites_widget li {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 1em;
	overflow: hidden;
}
.widget_wcex_favorites_widget .thumimg {
	max-width: 60px;
	text-align: center;
}
.widget_wcex_favorites_widget .thumimg img {
	width: 100%;
	height: auto;
}
.widget_wcex_favorites_widget .thumtitle {
	width: calc( 100% - 70px );
	text-align: left;
}
.widget_wcex_favorites_widget .thumtitle_without_img {
	text-align: left;
}
/* .section-home */
.section-home.widget_wcex_favorites_widget ul {
	display: flex;
	flex-wrap: wrap;
}
.section-home.widget_wcex_favorites_widget li {
	display: block;
	margin: 0 9px 0 0;
	width: calc( 50% - 4.5px );
}
.section-home.widget_wcex_favorites_widget li:nth-child(even) {
	margin-right: 0;
}
.section-home.widget_wcex_favorites_widget li:nth-child(n+3) {
	margin-top: 2em;
}
.section-home.widget_wcex_favorites_widget .thumimg {
	width: 100%;
	max-width: none;
}
.section-home.widget_wcex_favorites_widget .thumtitle {
	margin: 10px 5px 0;
	font-size: 12px;
	width: auto;
	line-height: 1.4;
}
/* header_favorite_btn */
.membership li:nth-child(4){
	margin-top: 5px;
}
@media screen and (min-width: 38.75em){
	/* widget_wcex_favorite_widget */
	.widget_wcex_favorites_widget ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.widget_wcex_favorites_widget li {
		margin-bottom: 0;
		width: calc( 20% - 4.5px );
	}
	.widget_wcex_favorites_widget li:nth-child( n+3 ) {
		margin-top: 1em;
	}
	/* .section-home */
	.section-home.widget_wcex_favorites_widget ul {
		justify-content: flex-start;
	}
	.section-home.widget_wcex_favorites_widget li {
		width: calc( 20% - 7.2px );
	}
	.section-home.widget_wcex_favorites_widget li:nth-child(even) {
		margin-right: 9px;
	}
	.section-home.widget_wcex_favorites_widget li:nth-child(5n) {
		margin-right: 0;
	}
	.section-home.widget_wcex_favorites_widget li:nth-child(n+3) {
		margin-top: 0;
	}
	.section-home.widget_wcex_favorites_widget li:nth-child(n+6) {
		margin-top: 3em;
	}
}
@media screen and (min-width: 55em){
	/* member_favorite_page */
	.member-favorite {
		grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
		gap: 2em 9px;
	}
	#wc_member_favorite_page .send a {
		padding: 0 2em;
		width: auto;
	}
	/* widget_wcex_favorite_widget */
	.widget_wcex_favorites_widget ul {
		display: block;
	}
	.widget_wcex_favorites_widget li {
		width: 100%;
	}
	.widget_wcex_favorites_widget li:nth-child( n+3 ) {
		margin-top: 0;
	}
	.widget_wcex_favorites_widget li:nth-child( n+2 ) {
		margin-top: 1em;
	}
	/* .section-home */
	.section-home.widget_wcex_favorites_widget li:nth-child( n+2 ) {
		margin-top: 0;
	}
	.section-home.widget_wcex_favorites_widget .thumtitle {
		font-size: 13px;
	}
}
