@font-face {
	font-family: 'welicon';
	src:
	url('../fonts/welicon.ttf?kuqkup') format('truetype'),
	url('../fonts/welicon.woff?kuqkup') format('woff'),
	url('../fonts/welicon.svg?kuqkup#welicon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="welicon-"], [class*=" welicon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'welicon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.welicon-category:before {
	content: "\e910";
	color: #777;
}
.welicon-tag:before {
	content: "\e90e";
	color: #111;
}
.welicon-date:before {
	content: "\e90f";
	color: #111;
}
.welicon-contact:before {
	content: "\e90d";
	color: #777;
}
.welicon-minus:before {
	content: "\e90c";
	color: #666;
}
.welicon-chevron-bottom:before {
	content: "\e908";
	color: #666;
}
.welicon-chevron-left:before {
	content: "\e909";
	color: #666;
}
.welicon-chevron-right:before {
	content: "\e90a";
	color: #666;
}
.welicon-chevron-top:before {
	content: "\e90b";
	color: #666;
}
.welicon-user:before {
	content: "\e906";
	color: #777;
}
.welicon-search:before {
	content: "\e905";
	color: #777;
}
.welicon-youtube:before {
	content: "\e904";
	color: #4b4b4b;
}
.welicon-facebook:before {
	content: "\e900";
	color: #4b4b4b;
}
.welicon-instagram:before {
	content: "\e901";
	color: #4b4b4b;
}
.welicon-line:before {
	content: "\e902";
	color: #4b4b4b;
}
.welicon-twitter:before {
	content: "\e903";
	color: #4b4b4b;
}
.welicon-cart:before {
	content: "\e907";
	color: #777;
}
